<form method="post" action="/auth/login" class="form">
    <h1 class="title">login</h1>

    <label for="email"></label>
    <input id="email" class="input" type="text" value="test@beer.com" name="email">
    <label for="password"></label>
    <input id="password" class="input" type="password" value="12345" name="password">

    <button class="btn">go !</button>
    <hr>

    <p>{{message}}</p>

    <p>
        No account yet ? <a class="link" href="/auth/signup">please signup !</a>
    </p>
</form>