<form method="post" action="/auth/signup" class="form">
    <h1 class="title">Signup</h1>
    <label for="email">email</label>
    <input class="input" name="email" type="text" value="test@beer.com">

    <label for="password">password</label>
    <input id="password" class="input" type="password" value="*****" name="password">


    <button class="btn">Click to sign up</button>
    <hr>
    <p>
        Already have an account ? <a class="link" href="/auth/login">please login !</a>
    </p>
</form>