<div class="big-container product-manage-wrapper flexed-item">
    <form action="/dashboard/product-add" method="post" class="add-product-form" enctype="multipart/form-data">
        <h3 class="form-title">Add beers to the collection</h3>
        <div class="form-item-wrapper flexed-item">
            <label for="beer-name" class="label-name label">Beer name</label>
            <input id="beer-name" type="text" value="DIE WEISSE HELL" class="input-text input" name="name" required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="beer-descr" class="label-descr label">Description</label>
            <textarea id="beer-descr" type="text" class="input-text input" value="The best beer for drink"
                name="description" cols="30" rows="8"></textarea>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="beer-price" class="label-price label">Price</label>
            <input id="beer-price" type="number" min="0" class="beer-price input" value="5" name="price" required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="beer-quantity" class="label-price label">quantity</label>
            <input id="beer-quantity" type="number" min="0" class="beer-quantity input" value="50" name="quantity"
                required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="beer-img" class="label-price label">Image</label>
            <input id="beer-img" type="file" class="bear-price input" name="image">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="category" class="label-main-cat label">Main category</label>
            <select id="category" class="select" required name="category">
                <option value="-1" disabled selected>Choose a category</option>
                <option value="Pilsner">Pilsner</option>
                <option value="Dunkel">Dunkel</option>
                <option value="Ale">Ale</option>
                <option value="Lager">Lager</option>
                <option value="Wheat">Wheat</option>
                <option value="Stout">Stout</option>
                <option value="Porter">Porter</option>
                <option value="Marzen">Marzen</option>
            </select>
        </div>

        <button class="button-primary add-beer-btn">Add to collection</button>
    </form>

</div>