<div class="manage-products-wrapper">
    <h3 class="manage-products-title">Manage your products catalog</h3>
    <div class="manage-products-wrapper-table">
        <table class="content-table">
            <thead>
                <tr class="table-row">
                    <th class="table-head">
                        <p>Product Image</p>
                    </th>
                    <th class="table-head">
                        <p>Product Name</p>
                    </th>
                    <th class="table-head">
                        <p>Product Category</p>
                    </th>
                    <th class="table-head">
                        <p>Product Price</p>
                    </th>
                    <th class="table-head">
                        <p>Product Quantity</p>
                    </th>
                    <th class="table-head">
                        <p>Product Description</p>
                    </th>
                    <th class="table-head">
                        <p>Product Reviews</p>
                    </th>
                    <th class="table-head">
                        <p>Edit</p>
                    </th>
                    <th class="table-head">
                        <p>Delete</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <tr class="table-row">
                    {{> dashboard_product_row}}
                </tr>
                {{/each}}

                {{#unless products}}
                <tr>
                    <td colspan="9">sorry no beers yet</td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>

</div>
{{!-- <div class="">
    <h3>Show pendding orders</h3>
    {{#each pending}}
<div>Client name: {{pending.orders}}</div>
    {{/pending}}
</div> --}}