<div>
        {{!-- Category --}}
        <aside>
                <h4>All Categories</h4>
                <ul id="category-list" data-category="">
                        <li class="category-list-item">
                                <input id="pilsner" type="radio" class="checkbox" name="checkbox" data-category="pilsner"/>
                                <label for="pilsner">Pilsner</label>
                        </li>

                        <li class="category-list-item">
                                <input id="dunkel" type="radio" class="checkbox" name="checkbox" data-category="dunkel"/>
                                <label for="dunkel">Dunkel</label>
                        </li>

                        <li class="category-list-item">
                                <input id="ale" type="radio" class="checkbox" name="checkbox" data-category="ale"/>
                                <label for="ale">Ale</label>
                        </li>

                        <li class="category-list-item">
                                <input id="lager" type="radio" class="checkbox" name="checkbox" data-category="lager"/>
                                <label for="lager">Lager</label>
                        </li>

                        <li class="category-list-item">
                                <input id="wheat" type="radio" class="checkbox" name="checkbox" data-category="wheat"/>
                                <label for="wheat">Wheat</label>
                        </li>

                        <li class="category-list-item">
                                <input id="stout" type="radio" class="checkbox" name="checkbox" data-category="stout"/>
                                <label for="stout">Stout</label>
                        </li>


                        <li class="category-list-item">
                                <input id="porter" type="radio" class="checkbox" name="checkbox" data-category="porter" />
                                <label for="porter">Porter</label>
                        </li>

                        <li class="category-list-item">
                                <input id="marzen" type="radio" class="checkbox" name="checkbox" data-category="marzen"/>
                                <label for="marzen">Marzen</label>
                        </li>
                </ul>
        </aside>

        {{!-- PRODUCTS --}}
        <section class="products-wrapper">
                {{#unless products}}
                <p>Sorry, no products yet !</p>
                {{/unless}}

                <div id="products_grid">
                        {{#each products}}
                        {{> item_mini}}
                        {{/each}}
                </div>
        </section>
</div>