<div class="container">
    <div class="image-gallery">
        <a href="/images/img-1.jpg" class="img-1">
            <i class="icon ion-md-expand"></i></a>
        <a href="/images/img-2.webg" class="img-2">
            <i class="icon ion-md-expand"></i></a>
        <a href="/images/img-3.webg" class="img-3">
            <i class="icon ion-md-expand"></i></a>
        <a href="/images/img-4.jpg" class="img-4">
            <i class="icon ion-md-expand"></i></a>
    </div>
</div>