<div class="index-container">
    <div id="img-bestseller" class="index-section">
        <div class="index-content">
            <h1><a href="/collection">Choice of the month</a></h1>
        </div>
        <div class="overlay"></div>
    </div>
    <div id="img-choice-of-the-month" class="index-section">
        <div class="index-content">
            <h1><a href="/collection">Our favourite</a></h1>

        </div>
        <div class="overlay"></div>
    </div>
</div>