<a href="/collection">>>button to back</a>
<div class="one-product-container">
        {{#with product}}
        {{> item_mini}}

        {{#unless this.reviews}}
        <p>No reviews</p>
        {{/unless}}

        <ul>
                {{#each this.reviews}}
                <li>
                        <p>Rates:
                                {{!-- {{#with this.rate}} --}}

                                {{{stars this.rate}}}
                                {{> rate}}
                                {{!-- {{/with}} --}}
                                {{this.rate}}</p>
                        <p>-- {{this.comment}}</p>
                </li>
                {{/each}}
        </ul>


        {{/with}}
</div>