<div class="manage-products-wrapper">
        <h3 class="manage-products-title">Your cart</h3>
        <table class="product-manage-table">
                <thead>
                        <tr class="table-row">
                                <th class="table-head">Beer Name</th>
                                <th class="table-head">Quantity</th>
                                <th class="table-head">Price</th>
                                <th class="table-head">Subtotals</th>
                                <th class="table-head ">Delete </th>
                        </tr>
                </thead>
                <tbody>
                        {{#each productsAdded}}
                        <tr class="table-row table-added-products">
                                <td class="table-division">
                                        <div>{{this.productId.name}}</div>
                                </td>
                                <td class="table-division quantity-shopping-cart">
                                       <div> 
                                               {{#stock this.quantity this.productId.quantity }}{{/stock}}
                                        </div>
                                </td>
                                <td class="table-division price-shopping-cart">
                                        <div>{{this.productId.price}}</div>
                                </td>
                                <td class="table-division subTotal">
                                
                                </td>
                                <td class="table-division delete-shopping-cart">
                                        <div><a href="/shoppingcart/delete/{{this._id}}" class="btn-{{this._id}}"><i
                                                                class="fas fa-trash-alt"></i></a></div>
                                </td>
                        </tr>
                        
                        {{/each}}
                        {{#unless productsAdded}}
                        <tr class="table-row">
                                <td colspan="5">No beer yet</td>
                        </tr>
                        {{/unless}}
                        <tr class="table-row">
                                <td class="table-division">

                                </td>
                                <td class="table-division">

                                </td>
                                <td class="table-division">

                                </td>
                                <td class="table-division">
                                        Total =
                                </td>
                                <td class="table-division total">
                                        sadasda
                                </td>
                        </tr>

                </tbody>
        </table>
        {{#unless isLoggedIn}}
        <p><a href="/">Log in</a> before check out</p>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/checkout" id="checkout">Proceed to checkout</a>
        {{/if}}
</div>