/*Reset Button*/

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

/*--ARROW BUTTON--*/

.button-primary {
  border: none;
  background: var(--main-green);
  color: #ffffff !important;
  font-weight: 300;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: block;
  transition: all 0.3s ease 0s;
  margin-bottom: 1%;
  font-size: 0.8rem;
  display: block;
  margin: 1%;
  width: 40%;
}

.button-primary:hover {
  color: var(--main-green) !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: white;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.button-ternary {
  color: #006c5c;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  transition-property: color;
}

.button-ternary:hover {
  color: #006c5c;
}

/* .arrow-button .btn-text {
    font-size: 1rem;
  } */

/* .arrow-button .arrow {
    font-size: .9rem;
  } */