/* nav tag for nav bar  */
.heading-section {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.heading-section .logo img {
  width: 10rem;
  height: 10rem;

}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  padding: 0.5rem 2rem;
}

nav ul li:hover {
  background-color: var(--main-green);
  border-radius: 8px;
  color: white;
  transition: 0.5s;
  cursor: pointer;


}

nav ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  padding-right: 2rem;
}

@media (max-width:1000px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav li {
    padding: 0.5rem 1rem;
  }
}