/* nav tag for nav bar  */
.heading-section{
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  font-size: 1.5rem;
}
.heading-section .logo img{
  width: 10rem;
  height: 10rem;

}
nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
nav ul{
  display: flex;
  flex-direction: row;
}
nav li{
  padding: 0.5rem 3rem;
}
nav ul li:hover{
  background-color: var(--main-green);
  color: white;
  transition: 0.5s;
 
}
nav ul li a{
  text-transform: uppercase;
}

/* 
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.5s;
  background: whitesmoke;
  display: flex;
}
.heading-section a{
  display: inline-block;
}
/* nav.black { */
/*   background: rgba(0, 0, 0, 0.8); */
/* } */
/* nav .logo {
  float: left; */
/* }
nav .logo img {
  height: 160px;
  width: auto;
  transition: 0.5s;
  margin-top: -32px;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #006c5c;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #006c5c;
}

.header {
  width: 100%;
}

.nav-log {
  position: fixed;
  right: 20px;
  right: 2vw;
  top: 30px;
  top: 4.5vh;
  font-size: 12px;
  font-size: 1.5vh;
  color: #006c5c;
  z-index: 5200;
}
nav ul .search-icon {
  background: whitesmoke;
}
nav ul .search-icon input {
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 20px;
  border-radius: 5px;
} */ */
