.index-content-container h1{
  font-size: 5rem;
}

.index-container {
  display: flex;
  height: 100vh;
}

.index-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.index-section .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
}

.index-section .index-content {
  z-index: 2;
}

.index-section:hover {
  flex: 2;
}

.index-section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

#img-bestseller {
  background-image: url(https://images.unsplash.com/photo-1532634656-a479102699c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}


#img-choice-of-the-month {
  background-image: url(https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
}
