.home-container {
  height: calc(100vh - (84px));
  overflow: hidden;
  background: #006c5c;
  width: 100%;
  background-image: url("/medias/img/home-img-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
