/* SIGNUP */
.sign.form-container {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;
  font-size: 1.2rem;
  width: 30%;
  margin: 1rem auto;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7rem;
}

.sign.form-container .form-title {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form_user .form-item-wrapper:last-child {
  margin-bottom: 1.2rem;
}

.form_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form_user .form-item-wrapper {
  width: 70%;
}


/* button */

.signup-login-btn {
  border: none;
  background: var(--main-green);
  color: #ffffff !important;
  font-weight: 300;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: block;
  transition: all 0.3s ease 0s;
  margin-bottom: 1%;
  font-size: 0.8rem;
  display: block;
  margin: 1%;
  width: 17rem;
}

.signup-login-btn:hover{

color: var(--main-green) !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: white;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
transition: all 0.3s ease 0s;

}
