/* SIGNUP */
.sign.form-container {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;
  font-size: 1.2rem;
  width: 30%;
  margin: 1rem auto;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7rem;
}

.sign.form-container .form-title {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form_user .form-item-wrapper:last-child {
  margin-bottom: 1.2rem;
}

.form_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form_user .form-item-wrapper {
  width: 70%;
}