.one-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.one-product-container > * {
  margin-bottom: 1.2rem;
}

#all-products-collection{
  margin: 5% 10%;
  display: block;
  font-size: 2rem;
}

.one-product-container .item-mini .product-item-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  
}


.one-product-container .one-product-sidebar{
  display: flex;
  flex-direction: column !important;
  align-items: center;
  /* background: pink; */

}

/* quantity input */
.one-product-sidebar .cart-quantity-label{
  font-size: 5rem;
  display: block;
  margin-bottom: 1%;
}

.one-product-container #cart-quantity{
  width: 17rem;
  height: 3rem;
  text-align: center;
}

/* button */

.one-product-container button{
      border: none;
      background: var(--main-green);
      color: #ffffff !important;
      font-weight: 300;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 3px;
      display: block;
      transition: all 0.3s ease 0s;
      margin-bottom: 1%;
      font-size: 0.8rem;
      display: block;
      margin: 1%;
      width: 17rem;
}

.one-product-container button:hover{

    color: var(--main-green) !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;

}