.content-tabel {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
}

.content-tabel thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;

}
.content-tabel th,
.content-tabel p {
  padding: 12px 15px;
}
.content-tabel tbody tr {
  border-bottom: 1px solid white;
}
.content-tabel tbody tr:nth-last-of-type(even) {
  background-color: white;

}
.content-tabel tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table-image {
  height: 30vh;
  width: auto;
}







/* .manage-products-wrapper { */
/*   padding: 2rem 0rem; */
 /*  height: calc(100vh - (84px)); */
 /*  height: 50vh; */
/*   flex-direction: column; */
/*  */
/*   position: relative; */
/* } */
/*  */
/* h3.manage-products-title { */
/*   border-bottom: 1px solid rgb(212, 212, 212); */
/*   padding-bottom: 0.8rem; */
/*   margin-bottom: 2rem; */
/*   font-size: 1.2rem; */
/*   height: 49px; */
/* } */
/* .manage-products-wrapper-table{ */
/*   overflow-y: auto; */
/*   height:500px; */
/* } */
/* .product-manage-table { */
/*   border: 1px solid; */
/*   width: 90%; */
/*   height: 100%; */
  /* overflow: auto; */
/* } */
/* /* .table-head{ */
/*   border-bottom: 1px solid #eee; */
/*   background: #ddd; */
/*   padding: 10px 25px; */
/*   color: transparent; */
/*   border: none; */
/*   white-space: nowrap; */
/* } */ */
/* /* .table-head p{ */
/*   position: absolute; */
/*   background: transparent; */
/*   color: #fff; */
/*   padding: 9px 25px; */
/*   top: 0; */
/*   margin-left: -25px; */
/*   line-height: normal; */
/*   border-left: 1px solid #800; */
/* } */ 
/*  */
/* .table-row { */
/*   display: flex; */
/* } */
/*  */
/* .table-division { */
/*   border: 1px solid; */
/*   padding: 1rem; */
/*   display: flex; */
/*   align-content: center; */
/*   align-items: center; */
/*   width: 25%; */
/* } */
/*  */
/* .table-head { */
/*   width: 25%; */
/*   border: 1px solid; */
/*   padding: 1rem; */
/*   text-align: left; */
/*   font-weight: 600; */
/*  */
  /* position: absolute; */
/* } */
/*  */
/*  */
/* .table-icon:hover { */
/*   cursor: pointer; */
/*   color: rgb(52, 52, 255); */
/* } */
/*  */
/* .table-image { */
/*   width: 30px; */
/* } */
/*  */
/* .product-manage-table tbody tr:only-child td { */
/*   padding: 1rem; */
/*   text-align: center; */
/* } */
/*  */