<div class="heading-section">
        <div class="logo">
                <img src="/images/beer-logo.png" alt="beer">
        </div>
        <nav>

                <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/collection">Products</a></li>

                        {{#if isLoggedIn}}

                        <li> <a href="/user/wishlist/list">Wishlist</a></li>

                        {{/if}}

                        {{#unless isLoggedIn}}
                        <li> <a href="/auth/signup" id="nav_login" class="">Sign up </a></li>
                        <li> <a href="/auth/login" id="nav_login" class="">Log in</a></li>
                        {{/unless}}

                        {{#if isAdmin}}
                        {{!-- <li><a href="/dashboard">Dashboard</a></li> --}}
                        <li><a href="/dashboard/products-manage">Manage</a></li>
                        <li><a href="/dashboard/product-add">Add new product</a></li>
                        {{/if}}

                        {{#if isLoggedIn}}
                        <li><a href="/auth/logout" id="nav_logout" class="">Log out</a> </li>
                        {{/if}}

                        <li> <a href="/shoppingcart"><i class="fas fa-cart-plus"></i></a></li>

                </ul>

        </nav>
</div>