<div>
        <div>
                <h1>LOGO</h1>
        </div>

        <div class="">
                Search bar here
        </div>
        <nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/collection">Products</a></li>
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/dashboard/products-manage">Manage</a></li>
                <li><a href="/dashboard/product-add">Add new product</a></li>
        
        </ul>
</nav>
</div>
