<div>
        <div>
                <h1>LOGO</h1>
        </div>


        <form id="search" class="Search" action="">
                <input type="search" placeholder="Search by name beer" name="search" value="" autocomplete/>
                <a href=""><i class="fas fa-search-plus"></i></a>
        </form>
        <div id="match-list"></div>

        <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/collection">Products</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/dashboard/products-manage">Manage</a></li>
                        <li><a href="/dashboard/product-add">Add new product</a></li>

                </ul>
        </nav>
</div>