<div>


        {{!--  <form id="search" class="Search" action=""> --}}
        {{!--          <input type="search" placeholder="Search by name beer" name="search" value="" autocomplete /> --}}
        {{!--          <a href=""><i class="fas fa-search-plus"></i></a> --}}
        {{!--  </form> --}}
        <div id="match-list"></div>

        <nav>
                <div class="logo">
                        <img src="/images/beer-logo.png" alt="beer">
                </div>
                <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/collection">Products</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/dashboard/products-manage">Manage</a></li>
                        <li><a href="/dashboard/product-add">Add new
                                        product</a></li>

                        <div class="nav-log">

                                <a href="/signup" id="nav_login" class="button-ternary flexed-item nav-end-item">
                                        <span class="btn-text">Sign in</span>
                                </a>


                                <a href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
                                        <span class="btn-text">Log out</span>
                                </a>


                        </div>
                        <li class="search-icon">
                                <input type="search" placeholder="Search">
                                <a href=""><i class="fas fa-search-plus"></i></a>
                        </li>
                </ul>
        </nav>
</div>