<footer class="footer container">
  <div class="footer session">
    <p><span class="footer title">Bear Beer Company <br>
        INDEPENDENT. CRAFT. LOCAL <br></span>
      We craft great beer, we pair them with the seleted apéro, and <br>
      we take immense pride in being a small, independent business. <br>
      No investors, no suits, no big corporates. Just a dream, hard <br>
      work, and a deep passion for what we do.</p>
    <div class="socialmedia">
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/Twitter"><i class="fab fa-twitter"></i></a>
      <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>


  </div>

  <div class="footer session">
    <p><span class="footer title">Quick Links</span></p>
    <a href="#">Our Story</a>
    <a href="#">Shipping infomation</a>
    <a href="#">Locations</a>
    <a href="#">FAQs</a>


  </div>
  <div class="footer session">
    <p>
      <span class="footer title">Stay in touch</span>
    </p>
    <form action="/subscribe-newsletter" method="post">
      <div class="footer-form-item-wrapper">

        <label for="subscribe-newsletter" class="subscribe-newsletter label"></label>
        <p>Subscribe to receive updates, access to exclusive deals, and more.</p>
        <div id="btn-input-newsletter">
          <input id="subscribe-newsletter" type="text" class="subscribe-newsletter input" name="newsletter">

          <button class="btn-subscribe-newsletter"> Subscribe </bu tton>

        </div>

      </div>

    </form>
  </div>

</footer>