<div>
        <div>
                <h1 class="logo-item">LOGO</h1>
        </div>


        <form id="search" class="Search" action="">
                <input type="search" placeholder="Search by name beer" name="search" value="" autocomplete />
                <a href=""><i class="fas fa-search-plus"></i></a>
        </form>
        <div id="match-list"></div>

        <nav>
                <ul class="nav-link flexed-item">
                        <li class="nav-item animated-link"><a href="/">Home</a></li>
                        <li class="nav-item animated-link"><a href="/collection">Products</a></li>
                        <li class="nav-item animated-link"><a href="/user/profile">Profile</a></li>
                        <li class="nav-item animated-link"><a href="/dashboard">Dashboard</a></li>
                        <li class="nav-item animated-link nav-item-admin"><a
                                        href="/dashboard/products-manage">Manage</a></li>
                        <li class="nav-item animated-link nav-item-admin"><a href="/dashboard/product-add">Add new
                                        product</a></li>

                </ul>
        </nav>
</div>